.menu-wrapper {
	display: flex;
	flex-direction: column;
}

// In-Page Nav
.menu-nav {
	position: sticky;
	top: 0;
	overflow-y: auto;
	background: #f7f7f7;
	padding: 1rem;
	border: 1px solid #ead7ce;
	z-index: 200;
}

.menu-nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 1rem;
}

.menu-nav a {
	display: block;
	margin: 0.25rem 0;
	text-decoration: none;
}

// Menu Content
.menu-parent-category h2,
.menu-parent-category h3 {
	scroll-margin-top: 17rem;
}

.menu-parent-category h2 {
	text-align: center;
}

.menu-parent-category h3 {
	color: var(--wp--preset--color--custom-steel-blue-accent);
	margin-top: 3rem;
}

.menu-child-category,
.featured-item-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem 2rem;
}

.menu-child-category article {
	text-align: center;
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 300;
}

.menu-child-description {
	line-height: 1.5;
	margin-bottom: 2rem;
}

@media (min-width: 50em) {
	.menu-wrapper {
		display: flex;
		flex-direction: row;
		gap: 5rem;
	}

	.menu-nav {
		position: sticky;
		flex-shrink: 0;
		align-self: flex-start;
		padding-top: 14rem;
		background: none;
		border: none;
	}

	.menu-nav a {
		margin: 0.5rem 0;
	}

	.featured-item-wrapper {
		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
	}

	.menu-child-category {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 3rem;
	}
}

// Menu Item in Front page
.menu-item {
	position: relative;
	border-radius: 100%;
	overflow: hidden;
	aspect-ratio: 1 / 1;
}

.menu-item-info {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00000099;
	color: var(--wp--preset--color--custom-soft-almond-cream);
	font-weight: 200;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.menu-item-info:hover {
	opacity: 1;
}

.menu-name {
	font-family: var(--wp--preset--font-family--urbanist);
}

.menu-category {
	margin: 0;
	color: var(--wp--preset--color--custom-dalgona-beige-accent);
}
