<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">404 Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Looks like you’ve wandered off the menu.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>But don’t worry, there’s always a way back to <a href="http://localhost:8888/cafe-uyu/" data-type="page" data-id="45">Café ÜYU</a>, where comfort and coffee meet. ☕</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="http://localhost:8888/cafe-uyu/">Return to Home Page</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->